[submodule "graphql-learning"]
	path = graphql-learning
	url = https://github.com/rehabayman/graphql-learning.git
[submodule "simple-screen-recorder-js"]
	path = simple-screen-recorder-js
	url = https://github.com/rehabayman/simple-screen-recorder-js.git
[submodule "url-shortening"]
	path = url-shortening
	url = https://github.com/rehabayman/url-shortening.git
[submodule "filtering-data"]
	path = filtering-data
	url = https://github.com/rehabayman/filtering-data.git
[submodule "url-monitoring"]
	path = url-monitoring
	url = https://github.com/rehabayman/url-monitoring
[submodule "simple-crml-laravel"]
	path = simple-crml-laravel
	url = https://github.com/rehabayman/simple-crml-laravel.git
